.top-separator {
    opacity: 1;
    padding-top: 90px;
}

/* TITLE */
.about-me, .experience-title {
    color: #19345E;
}
.about-me .container-fluid, .experience-title .container-fluid {
    background: #F4F7FC;
    margin-bottom: 44px;
}
.about-me h1, .experience-title h1 {
    font-size: 40px;
    padding: 39px 0;
    font-weight: bold;
}