/* CONTACT */
body .contact-body {
    padding-left: 0;
}
.side-image {
    background-color: #19345E;
}

.side-image img {
    width: 100%;
    margin: 0;
    position: relative;
    opacity: 0.4;
}
.alterra-side img {
    width: 44%;
    position: absolute;
    top: 42%;
    left: 28%;
}
.contact-form h3 {
    margin-bottom: 30px;
}
.contact-form label {
    font-size: 20px;
}
.contact-form span {
    color: #FF0000;
}
.contact-form input, select {
    color: #D5D5D5;
    width: 100%;
    font-size: 18px;
    height: 60px;
    padding: 0 23px;
    margin-bottom: 11px;
}
.contact-form textarea {
    width: 524px;
    height: 120px;
    border-radius: 10px;
    border: #707070 1px solid;
}
.contact-form #submit-button {
    margin: 24px 0;
    background-color: #F47522;
    border: #F47522 1px solid;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    width: 150px;
    height: 43px;
}
.contact-form #submit-button:hover {
    background-color: white;
    color: #F47522;
    border: #F47522 1px solid;
}